// 設定 brand background
.site-brand-container {
	background: $web-color-l4;
}

// 刪除頭像邊框
.site-author-image {
    border: 0;
}

// 設定貼文內 h2 顏色(清楚分項用)
.post-body > h2 {
	color: orange; 
}

// 設定貼文內 tag a顏色(一般 web link 用)
// .post-body a {
// 	color: blue;
// 	border-bottom: 0;
// }
// .post-body a:hover {
// 	text-decoration: underline;
// }

// 設定貼文內 button, tag a 文字顏色(閱讀全文)
//.post-body .post-button a {
//	color: $btn-default-color;
//}

// 設定貼文內 button background 顏色(閱讀全文)
.post-body .btn {
	background: $web-color-l2;
}

// 刪除歸檔頁 - 嗯..! 目前共有 17 篇文章。 繼續努力。
.archive .collection-title {
	display: none;
}

// class 內 rect 
// for 時序圖(sequence) 文字背景
.sequence rect {
  fill: $content-bg-color;
}

// 修改 tab size 為 2
pre {
	tab-size: 2;
}

// 更改 table head背景
// 更改 table 偶數列背景
.table-container thead tr,
.table-container tbody tr:nth-child(2n)
{
	background: #d4d4d4
}

