// 基本色系 - 由淺至深 https://colorhunt.co/palette/252860
$web-color-l1 = #f0e5d8;
$web-color-l2 = #bbdfc8;
$web-color-l3 = #75cfb8;
$web-color-l4 = #ffc478;

// 背景颜色
$body-bg-color = $web-color-l1;
$header-bg-color = $web-color-l1;
$footer-bg-color = $web-color-l1;
// 貼文背景顏色
$content-bg-color = $web-color-l2;
// 選項背景顏色
$menu-item-bg-color = $web-color-l3;

